p {
 text-align:justify;   
}
li {
    color:#5a5b62;
}
.navbar-brand {
    color:#5a5b62;
}
.container-fluid {
    background-color:#c1c5d6;
}
.menufka {
    border:solid #101118 4px;
    border-radius:24px;
    height:400px;
    margin:10px
}
.konec {
    height:50px;
    border-top:solid black 1px;
}
.soc {
    margin-top:50px;
}


