.title{
	color:#00547E;
}
.right-menu{
	border:dotted 1px blue;
	border-radius:5px;
	background-color:#e9e8eb;
	padding:0px 15px 40px 15px;
}
.hrld{
	border-top:dotted 1px blue;
}
.hrls{
	border-top:solid 1px #cccccc;
}
.zagolovok{
	text-align:center;
	padding:25px;
}
.content{
	font-size:16;
}
.image{
	height:346px;
	width:138px;
	border:solid 1px gray;
	display:block;
    margin: auto;
}
.glava{
	color:#0099ff;
}
.text-center{
	text-align:center;
}
.avtor{
	font-size:10px;
	text-align:center;
	padding-bottom:70px;
}
p{
	font-size:16px;
}
.futer{
	padding-bottom:50px;
	border-top:solid 1px gray;
}

